<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://api.themoviedb.org/3/tv/</string>
	<key>accessToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2I5N2RiOTg5YzBkZGU1YjdhNzg1N2U0YTU1N2ZhZiIsIm5iZiI6MTY2MjM3NjgwNS40MDgsInN1YiI6IjYzMTVkYjY1MzI2YzE5MDA3OWQzZWE3NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Ul68b1MjhoEFEf8EI5ZfA8UqqjH7ZOjSiKze4rwulOY</string>
</dict>
</plist>
